/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --brand-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}
.footer {
  background-color: #2f303a;
}
